<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Influencer Profile</title>
</head>
<body>
  <h1>Influencer Profile</h1>
  <div class="profile-container">
      <form action="/api/v1/insta/auth" method="GET">
        <button type="submit">Authorize Instagram</button>
      </form>
  </div>
  <h3><%= message %></h3>
</body>
</html>
